@using TicketTracker.Models
@model LoginViewModel
<div class="form-content">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", name = "LoginForm", id = "LoginForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Username)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            @Html.PasswordFor(m => m.Password)
        </div>
        <div class="form-group">
            <label class="form-remember">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </label>
        </div>
        <div class="form-group">
            <button type="submit" value="Log in" id="Login">Log in</button>
        </div>
    }
</div>